/**
 * @file
 * Visual styles for fields.
 */

@import "../base/variables.pcss.css";

.field:not(:last-child) {
  margin-block-end: var(--sp2);
}

.node--view-mode-teaser .field {
  margin-block-end: var(--sp);

  &:last-child {
    margin-block-end: 0;
  }

  @media (--lg) {
    margin-block-end: var(--sp2);
  }
}

.field__label {
  font-weight: bold;
}

.field--label-inline .field__label,
.field--label-inline .field__items {
  float: inline-start;
}

.field--label-inline .field__label,
.field--label-inline > .field__item,
.field--label-inline .field__items {
  padding-inline-end: 0.5em;
}

.field--label-inline .field__label::after {
  content: ":";
}

.text-content.field--name-field-image-caption {
  margin-top: calc(var(--sp2) * -1);
  color: var(--color--gray-30);
  font-size: var(--font-size-s);
}

.text-content.field--name-field-standfirst {
  font-size: var(--font-size-l);
}

.field--name-thumbnail img, 
.media--view-mode-thumbnail .field--name-field-media-image img,
.media--view-mode-embedded .field--name-field-media-image img {
  border: solid 1px var(--color--gray-80);
}